body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    color: var(--background-contrast);
    background-color: var(--background);
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.christmas-text {
    font-family: "Mountains of Christmas", system-ui;
    color: var(--primary);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    &--secondary {
        color: var(--secondary);
    }

    &--contrast {
        color: var(--background-contrast);
    }
}

